**/node_modules/
**/venv/
**/env/
**/requirements.txt.lock  # si généré

**/dist/
**/build/
**/.vite/

*.log
**/logs/

.env
.env.local
.env.*
!.env.example

certs/
!nginx/certs/self-signed.crt.example

.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

*.dockerimg
**/docker-compose.override.yml

__pycache__/
*.pyc
*.pyo
*.pyd
.Python

.coverage
htmlcov/
**/coverage.xml

keycloak-config/realms