services:
  # --- Service Proxy Principal (Gère le HTTPS /443) ---
  reverse-proxy:
    image: nginx:alpine
    container_name: trace-ops-proxy
    ports:
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./nginx/certs:/etc/nginx/certs
    networks:
      - zone1-network
    depends_on:
      - frontend-vue
      - backend-j2
      - backend-em

  # --- Service Frontend Vue.js ---
  frontend-vue:
    build: ./services/frontend-vue
    container_name: trace-ops-frontend
    networks:
      - zone1-network

  # --- Service Moteur J2 (Backend Python) ---
  backend-j2:
    build: ./services/backend-j2
    container_name: trace-ops-j2
    environment:
      # On pointe vers le nom du conteneur CouchDB de la Zone 2
      - COUCHDB_URL=http://admin:adminpw@couchdb0.orgj2.traceops.local:5984
      - KEYCLOAK_URL=http://keycloak:8080
      - REALM_NAME=trace-ops
      - DB_NAME=traceops_decision
    networks:
      - zone1-network
      - fabric-network # Connexion au réseau de la Zone 2

  # --- Service Décision EM (Backend Node.js API) ---
  backend-em:
    build: ./services/backend-em
    container_name: trace-ops-em
    networks:
      - zone1-network

  keycloak:
    extends:
      file: ../keycloak-config/docker-compose.keycloak.yml
      service: keycloak
    command: start-dev --import-realm
    environment:
      KC_HTTP_ENABLED: "true"
      KC_HOSTNAME_STRICT: "false"
      KC_HOSTNAME_STRICT_HTTPS: "false"
    volumes:
      - ../keycloak-config/realms:/opt/keycloak/data/import
    networks:
      - zone1-network
    ports:
      - "8080:8080"

  keycloak-db:
    extends:
      file: ../keycloak-config/docker-compose.keycloak.yml
      service: keycloak-db
    networks:
      - zone1-network

networks:
  zone1-network:
    driver: bridge
  # On référence le réseau défini dans la Zone 2
  fabric-network:
    external: true
    name: traceops

volumes:
  keycloak_db_data:
